* {    box-sizing: border-box;  }

body {
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #23424a;
    color: #fff;
}

p {
    font-size: 1.3em;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}

a {
    text-decoration: none;
}

.btn {
    font-weight: bold;
    color: #23424a;
    background-color: #38cfd9;
    padding: 0.8em 1.2rem;
    margin: 1em 0;
    border-radius: 1rem;
}

a.btn:hover {
    background-color: #136c72;
    color: #fff;
}



.intro {
    margin: 0 auto;
    padding: 3rem 0;
}


.container {
    margin: 0 auto;
    max-width: 750px;
    width: 80%;
}
.content--intro {
    padding-right: 30%;
}
