*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --clr-icons: #929292;
    --clr-text: #fff;
    --clr-bg-dark: #242424;
    --clr-bg-light: #3b3b3b;
    --clr-accent: #ff7600;
}

body {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    margin: 1em;

    line-height: 1.5;
    font-family: sans-serif;
}

img {
    max-width: 100%;;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    background: transparent;
    color: var(--clr-text);
    font-size: 1.125rem;
    padding: .5em;
    position: relative;
}
.btn:after {
    content:'';
    position: absolute;
    background: var(--clr-accent);
    height: 0.8em;
    width: 80%;
    left: 0;
    z-index: -1;
    top: 55%;
    transition: transform 250ms ease-in-out;
    transform-origin: bottom left;
}
.btn:hover:after,
.btn:focus:after {
    transform: scale(1.35, 1.85);
}

.title {
    color: var(--clr-accent);
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-size: clamp(3rem, 10vw, 8rem);
}

.location {
    color: var(--clr-icons);
    margin: 0;
    font-size: 1.4rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
}

footer {
    margin: 2em 0;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
}

.nav__link {
    color: var(--clr-text);
    text-decoration: none;
}
.nav__link:hover {
    color: var(--clr-accent);
}

.secondary-imgs {
    display: flex;
}

.social-link {
    color: var(--clr-icons);
    text-decoration: none;
}
.social-link:focus,
.social-link:hover {
    color: var(--clr-accent);
    opacity: 0.5;
}

@media (min-width: 800px) {

    body {
        margin: 0;
    }

    .main-grid {
        display: grid;
        grid-template-columns:
            minmax(1em, 1fr)
            repeat(3, minmax(10rem, 30rem))
            minmax(1em, 1fr);
    }
}