*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --clr-icons: #929292;
    --clr-text: #fff;
    --clr-bg-dark: #242424;
    --clr-bg-light: #3b3b3b;
    --clr-accent: #ff7600;
    --column-template: repeat(2, minmax(15rem, 35rem))
                        minmax(5rem, 10rem);
}

body {
    background-color: var(--clr-bg-dark);
    color: var(--clr-text);
    margin: 1em;

    line-height: 1.5;
    font-family: sans-serif;
}

img {
    max-width: 100%;;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    background: transparent;
    color: var(--clr-text);
    font-size: 1.125rem;
    padding: .5em;
    position: relative;
    align-self: start;
    justify-self: start;
}
.btn:after {
    content:'';
    position: absolute;
    background: var(--clr-accent);
    height: 0.8em;
    width: 80%;
    left: 0;
    z-index: -1;
    top: 55%;
    transition: transform 250ms ease-in-out;
    transform-origin: bottom left;
}
.btn:hover:after,
.btn:focus:after {
    transform: scale(1.35, 1.85);
}

.title {
    color: var(--clr-accent);
    text-transform: uppercase;
    margin: 0;
    line-height: 1;
    font-size: clamp(3rem, 10vw, 11rem);
}

.location {
    color: var(--clr-icons);
    margin: 0;
    font-size: 1.4rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2em 0;
}


footer {
    margin: 2em 0;
}

.nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    margin-left: 1em;
}

.nav__link {
    color: var(--clr-text);
    text-decoration: none;
}
.nav__link:hover {
    color: var(--clr-accent);
}

.primary-img {
    height: 100%;
    max-height: 500px;
    width: min(100%, 1000px);
    object-fit: cover;
}

.secondary-imgs {
    display: flex;
}

footer {
    display: flex;
    justify-content: space-evenly;
}
.social-links {
    display: flex;
    gap: 2em;
}
.social-link {
    color: var(--clr-icons);
    text-decoration: none;
}
.social-link:focus,
.social-link:hover {
    color: var(--clr-accent);
    opacity: 0.5;
}

@media (min-width: 700px) {

    body {
        margin: 0;
    }

    .main-grid {
        display: grid;
        grid-template-columns:
            minmax(1em, 1fr)
            var(--column-template)
            minmax(1em, 1fr);
        gap: minmax(1em, 1fr);
        position: relative;
        grid-auto-rows: min-content;
        grid-auto-flow: dense;
    }
    .main-grid:after {
        content:'';
        position: absolute;
        background-color: var(--clr-bg-light);
        top: 0;
        bottom: 0;
        left: -1em;
        right: 0;
        z-index: -10;
        grid-column: 3 / 5;
    }

    header {
        grid-column: 2 / 5;
        display: grid;
        grid-template-columns: var(--column-template);
        grid-auto-flow: dense;
    }
    .nav {
        grid-column: 2 / 4;
    }
    main {
        grid-column: 2 / -1;
        display: grid;
        grid-template-columns: var(--column-template);
        gap: minmax(1em, 1fr);
        grid-auto-flow: dense;
    }


    .title {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .location,
    .description {
        grid-column: 1 / 2;
    }
    .primary-img {
        grid-column: 2 / -1;
        grid-row: 1 / span 4;
        z-index: -1;
    }
    .secondary-imgs {
        grid-column: 2 / 4;
        margin-top: 4rem;
    }

    footer {
        grid-column: 2 / 3;
    }
}

@media (min-width: 1200px) {
    .nav {
        grid-column: 2 / 3;
    }
    .main-grid:after {
        grid-column: 3 / 4;
        right: -2em;
    }
}